@import "index_mobile.css" screen and (max-width: 760);
@import "index_desk.css" screen and (min-width: 761);

/* Global Styles */

/* Remove Pre-Generated Styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/* Subscribe Form */

#sub-form {
    display: none;
    position: fixed;
    height: 60vh;
    width: 60vw;
    background-color: #2c2c2c;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    padding: 2vw;
    opacity: 1;
}

#subscribe:hover+#sub-form, #sub-form:hover {
    display: block;
}


/* Summary Grid Locations and Styles */

.sum-txt {
    margin: 1vw;
}

#post-1 {
    grid-area: p1;   
}

#post-2 {
    grid-area: p2;
}

#post-3 {
    grid-area: p3;
}

#post-4 {
    grid-area: p4;
}

#post-5 {
    grid-area: p5;
}

#post-6 {
    grid-area: p6;
}

.odd {
    background-color: #7c43bd;
}

.even {
    background-color: #4a148c;
}

.icon {
    box-shadow: 2px 2px 2px black;
    border-radius: 50%;
}

/* Summary Content Using Flexbox */
.odd, .even {
    box-shadow: -2px 0px 2px  #b2ebf2 inset;
    transition: all .5s;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	opacity: .5;
	color: #b2ebf2;
}

.odd:hover, .even:hover {
    box-shadow: -6px 0px 4px #b2ebf2 inset;
    opacity: 1;
    transition: all .5s;
}

/* Footer Links Using Flexbox */
#foot {
    grid-area: ft;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

/* Apply Styles to Links */

a:link {
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

a:visited {
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px #e2a66e;
}

a:active {
    text-decoration: none;
    color: #2c2c2c;
    text-shadow: 0px 0px 2px black;
    border: .5px dashed black;
}

/* Miscellaneous Styles */

#index-title {
    grid-area: hd;
    background-color: black;
    color: #e2a66e;    
}


.item {
    border: 0px solid black;
    color: #e2a66e;
    background-color: #2c2c2c;
    text-shadow: 2px 2px 2px #e2a66e;
}
