@import url("index_mobile.css") screen and (max-width: 980px);
@import url("index_desk.css") screen and (min-width: 979px);

/* Global Styles */

/* Remove Pre-Generated Styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/* Subscribe Form */

#sub-form {
    display: none;
    position: fixed;
    height: 60vh;
    width: 60vw;
    background-color: black;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    padding: 2vw;
    opacity: 1;
}

#subscribe:hover+#sub-form, #sub-form:hover {
    display: block;
}


/* Summary Grid Locations and Styles */

.sum-txt {
    margin: 1vw;
}

#post-1 {
    grid-area: p1;
}

#post-2 {
    grid-area: p2;
}

#post-3 {
    grid-area: p3;
}

#post-4 {
    grid-area: p4;
}

#post-5 {
    grid-area: p5;
}

#post-6 {
    grid-area: p6;
}

.odd, .light {
    background-color: #7c43bd;
}

.even, .dark {
    background-color: #4a148c;
}

.icon {
    height: 5vh;
}

/* Summary Content Using Flexbox */

.odd:hover, .even:hover {
    box-shadow: -6px 0px 4px #b2ebf2 inset;
    opacity: 1;
    transition: all .5s;
}

/* Footer Links Using Flexbox */
#foot {
    grid-area: ft;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 2vh;
}

/* Apply Styles to Links */

.item:link {
    background-color: black;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

.item:visited {
    background-color: black;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

.item:hover {
    border-color: #e2a66e;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px #e2a66e;
}

.item:active {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px black;
    border: .5px dashed #2c2c2c;
}

.sum:link {
    background-color: none;
    text-decoration: none;
    color: #b2ebf2;
    text-shadow: 2px 2px 2px black;
}

.sum:visited {
    background-color: black;
    text-decoration: none;
    color: #b2ebf2;
    text-shadow: 2px 2px 2px black;
}

.sum:hover {
    border-color: #b2ebf2;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px #b2ebf2;
}

.sum:active {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px black;
    border: .5px dashed #2c2c2c;
}

/* Miscellaneous Styles */

#index-title {
    grid-area: hd;
    background-color: black;
    color: #e2a66e;
}

@media only screen and (min-width: 979px) {
    /*Base Styles*/

    .mobile {
	display: none;
    }

    .desk {
	display: block;
    }

    h1 {
	font-family: 'Taviraj', serif;
	font-size: 8vh;
    }

    h2 {
	font-family: 'Taviraj', serif;
	font-size: 4vh;
    }

    h3 {
	font-family: 'Taviraj', serif;
	font-size: 2vh;
    }

    h4 {
	font-family: 'Taviraj', serif;
	font-size: 1vh;
    }

    /* Desktop Grid */

    #index-cont {
	display: grid;
	grid-template-areas:  "hd hd"
	"nv pt"
	"ft ft";
	grid-template-rows: 15vh 75vh 10vh;
	grid-template-columns: 10vw 90vw;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }

    #index-menu {
	font-size: 2vh;
	color: #e2a66e;
	background-color: black;
	display: grid;
	grid-template-areas: "hbtn"
	"pbtn"
	"."
	"sbtn";
	grid-template-rows: repeat(4,15vh);
	grid-template-columns: auto;
	grid-area: nv;
	align-self: stretch;
	align-content: stretch;
	justify-content: stretch;

    }

    .item {
	font-size: 2vh;
	border: 0px solid black;
	color: #e2a66e;
	background-color: black;
	text-shadow: 2px 2px 2px #e2a66e;
    }

    #home {
	grid-area: hbtn;
    }

    #posts {
	grid-area: pbtn;
    }

    #subscribe {
	grid-area: sbtn;
    }

    /* Post Summary Grid */
    #sums {
	grid-area: pt;
	display: grid;
	grid-template-areas: "p1 p2 p3 p4 p5 p6";
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-content: stretch;
	justify-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }
.odd, .even {
    box-shadow: -2px 0px 2px  #b2ebf2 inset;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    opacity: .5;
    color: #b2ebf2;
}

}
    /*Base Styles*/

    .mobile {
	display: none;
    }

    .desk {
	display: block;
    }

    h1 {
	font-family: 'Taviraj', serif;
	font-size: 8vh;
    }

    h2 {
	font-family: 'Taviraj', serif;
	font-size: 4vh;
    }

    h3 {
	font-family: 'Taviraj', serif;
	font-size: 2vh;
    }

    h4 {
	font-family: 'Taviraj', serif;
	font-size: 1vh;
    }

    /* Desktop Grid */

    #index-cont {
	display: grid;
	grid-template-areas:  "hd hd"
	"nv pt"
	"ft ft";
	grid-template-rows: 15vh 75vh 10vh;
	grid-template-columns: 10vw 90vw;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }

    #index-menu {
	font-size: 2vh;
	color: #e2a66e;
	background-color: black;
	display: grid;
	grid-template-areas: "hbtn"
	"pbtn"
	"."
	"sbtn";
	grid-template-rows: repeat(4,15vh);
	grid-template-columns: auto;
	grid-area: nv;
	align-self: stretch;
	align-content: stretch;
	justify-content: stretch;

    }

    .item {
	font-size: 2vh;
	border: 0px solid black;
	color: #e2a66e;
	background-color: black;
	text-shadow: 2px 2px 2px #e2a66e;
    }

    #home {
	grid-area: hbtn;
    }

    #posts {
	grid-area: pbtn;
    }

    #subscribe {
	grid-area: sbtn;
    }

    /* Post Summary Grid */
    #sums {
	grid-area: pt;
	display: grid;
	grid-template-areas: "p1 p2 p3 p4 p5 p6";
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-content: stretch;
	justify-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }
.odd, .even {
    box-shadow: -2px 0px 2px  #b2ebf2 inset;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    opacity: .5;
    color: #b2ebf2;
}

@media only screen and (max-width: 980px) {

    .mobile {
	display: block;
    }

    .desk {
	display: none;
    }
    
    /* Base Styles */

    h1 {
	font-family: 'Taviraj', serif;
	font-size: 4vh;
    }

    h2 {
	font-family: 'Taviraj', serif;
	font-size: 3vh;
    }

    h3 {
	font-family: 'Taviraj', serif;
	font-size: 2vh;
    }

    h4 {
	font-family: 'Taviraj', serif;
	font-size: 1vh;
    }

    /* Mobile Grid */

    #index-cont {
	display: grid;
	grid-template-areas:  "hd"
	"nv"
	"pt"
	"ft";
	grid-template-rows: 8vh 8vh 76vh 8vh;
	grid-template-columns: 100vw;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }


    #index-title {
	grid-area: hd;
	background-color: black;
	color: #e2a66e;
    }

    #index-menu {
	font-size: 2vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: stretch;
	align-items: center;
	grid-area: nv;
	color: #e2a66e;
	background-color: black;
    }

    /* Mobile Summary Grid */
    
    #sums {
	grid-area: pt;
	display: grid;
	grid-template-areas: "p1"
    	"p2"
	"p3"
	"p4"
	"p5"
	"p6";
	grid-template-rows: repeat(6, 16.67%);
	grid-template-columns: 100%;
	align-content: stretch;
	justify-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }

    .odd, .even {
    box-shadow: -2px 0px 2px  #b2ebf2 inset;
    transition: all .5s;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    opacity: .5;
    color: #b2ebf2;
}
@import url("posts_mobile.css") screen and (max-width: 979px);
@import url("post_desk.css") screen and (min-width: 980px);

/* Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#index-title {
    grid-area: hd;
    background-color: black;
    color: #e2a66e;
}

p {
    padding-left: 1vw;
    padding-bottom: 2vh;
}

#sub-form {
    display: none;
    position: fixed;
    height: 60vh;
    width: 60vw;
    background-color: black;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    opacity: 1;
}

a:link {
    background-color: black;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

a:visited {
    background-color: black;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

a:hover {
    border-color: #e2a66e;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px #e2a66e;
}

a:active {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px black;
    border: .5px dashed #2c2c2c;
}

.post-hd {
    padding-left: 1vw;
    background-color: #4a148c;
    color: #b2ebf2;
}

.post-sub {
padding-left: 1vw;
    background-color: #7c43bd;
    color: #b2ebf2;
}


#top {
    position: fixed;
    color:  color: #e2a66e;
    height: 10vh;
    width: 10vw;
    top: 90vh;
    left: 0vw;
    text-align: center;
    padding: 5px;
    border-radius: 25%;
}

.card-item {
    font-size: 1em;
}

#card-cont {
    position: fixed;
    width: 60vw;
    height: 20vh;
    left: 35vw;
    top: 75vh;
    border: 1px solid black;
    border-shadow: 1px 1px 3px #e2a66e; 
    background-color: black;
}

#card {
    display: grid;
    grid-template-areas: "pic nm nm nm nm"
			     "pic bio bio bio bio"
			     "pic fb gh wb em";
    grid-template-rows: 4vh minmax(12vh, min-content) 4vh;
    grid-template-columns: minmax(10vw,100px) repeat(4, 1fr);
    justify-content: start;
    align-content: start;
    justify-items: start;
}

#crb-pic {
    grid-area: pic;
    width: auto;
    height: 20vh;
    align-self: stretch;
    justify-self: stretch;
}

#at-nm {
    color: #e2a66e;
    grid-area: nm;
    font-size: 2vh;
}

#at-bio {
    color: #e2a66e;
    grid-area: bio;
    font-size: 1.5vh;
}

#fb {
    grid-area: fb;
    justify-self: center;
}

#gh {
    grid-area: gh;
    justify-self: center;
}

#wb {
    grid-area: wb;
    justify-self: center;
}

#em {
    grid-area: em;
    justify-self: center;
}


#sums {
    grid-area: pt;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
}

/* Subscribe Form */

#sub-form {
    display: none;
    position: fixed;
    height: 60vh;
    width: 60vw;
    background-color: black;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    padding: 2vw;
    opacity: 1;
}

#subscribe:hover+#sub-form, #sub-form:hover {
    display: block;
}
.mobile {
    display: none;
    }
    
    .desk {
	display: block;
    }
    
    h1 {
	font-family: 'Taviraj', serif;
	font-size: 8vh;
    }
    
    h2 {
	font-family: 'Taviraj', serif;
	font-size: 4vh;
    }
    
    h3 {
	font-family: 'Taviraj', serif;
	font-size: 2vh;
    }
    
    h4 {
	font-family: 'Taviraj', serif;
	font-size: 1vh;
    }
    
    /* Desktop Grid */
    
    #index-cont {
	display: grid;
	grid-template-areas:  "hd hd"
				  "nv pt";
	grid-template-rows: 15vh 75vh;
	grid-template-columns: 10vw 90vw;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }

    #index-menu {
	color: #e2a66e;
	background-color: black;
	display: grid;
	grid-template-areas: "hbtn"
				 "pbtn"
				 "."
				 "sbtn";
	grid-template-rows: repeat(3,15vh) ;
	grid-template-columns: auto;
	grid-area: nv;
	align-self: stretch;
	align-content: stretch;
	justify-content: stretch;	
    }
    
    .item {
	border: 0px solid black;
	color: #e2a66e;
	background-color: black;
	text-shadow: 2px 2px 2px #e2a66e;
    }
    
    #home {
	grid-area: hbtn;
    }
    
    #posts {
	grid-area: pbtn;
    }
    
    #subscribe {
	grid-area: sbtn;
    }
    .mobile {
	display: block;
    }
    
    .desk {
	display: none;
    }
    
    /* Base Styles */
    
    h1 {
	font-family: 'Taviraj', serif;
	font-size: 4vh;
    }
    
    h2 {
	font-family: 'Taviraj', serif;
	font-size: 3vh;
    }
    
    h3 {
	font-family: 'Taviraj', serif;
	font-size: 2vh;
    }
    
    h4 {
	font-family: 'Taviraj', serif;
	font-size: 1vh;
    }
    
    /* Mobile Grid */
    #index-cont {
	display: grid;
	grid-template-areas:  "hd"
				  "nv"
				  "pt"
				  "ft";
	grid-template-rows: 8vh 8vh 76vh 8vh;
	grid-template-columns: 100vw;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }
    
    #index-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: stretch;
	align-items: center;
	grid-area: nv;
	color: #e2a66e;
	background-color: black;
    }

