@import url("index_mobile.css") screen and (max-width: 980px);
@import url("index_desk.css") screen and (min-width: 979px);

/* Global Styles */

/* Remove Pre-Generated Styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

/* Subscribe Form */

#sub-form {
    display: none;
    position: fixed;
    height: auto;
    width: 60vw;
    background-color: black;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    padding: 2vw;
    opacity: 1.0;
}

#subscribe:hover+#sub-form, #sub-form:hover {
    display: block;
}

/* Summary Grid Locations and Styles */

.sum-txt {
    margin: 1vw;
}

#post-1 {
    grid-area: p1;
}

#post-2 {
    grid-area: p2;
}

#post-3 {
    grid-area: p3;
}

#post-4 {
    grid-area: p4;
}

#post-5 {
    grid-area: p5;
}

#post-6 {
    grid-area: p6;
}

.odd, .light {
    background-color: #7c43bd;
}

.even, .dark {
    background-color: #4a148c;
}

.icon {
    height: 5vh;
}

/* Summary Content Using Flexbox */

.odd:hover, .even:hover {
    box-shadow: -6px 0 4px #b2ebf2 inset;
    opacity: 1.0;
    transition: all 0.5s;
}

/* Footer Links Using Flexbox */
#foot {
    grid-area: ft;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 2vh;
}

/* Apply Styles to Links */

.item:link {
    background-color: black;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

.item:visited {
    background-color: black;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px black;
}

.item:hover {
    border-color: #e2a66e;
    text-decoration: none;
    color: black;
    text-shadow: 0 0 2px #e2a66e;
}

.item:active {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px black;
    border: 0.5px dashed #2c2c2c;
}

.sum:link {
    background-color: none;
    text-decoration: none;
    color: #b2ebf2;
    text-shadow: 2px 2px 2px black;
}

.sum:visited {
    background-color: black;
    text-decoration: none;
    color: #b2ebf2;
    text-shadow: 2px 2px 2px black;
}

.sum:hover {
    border-color: #b2ebf2;
    text-decoration: none;
    color: black;
    text-shadow: 0 0 2px #b2ebf2;
}

.sum:active {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 2px black;
    border: .5px dashed #2c2c2c;
}

/* Miscellaneous Styles */

#index-title {
    grid-area: hd;
    background-color: black;
    color: #e2a66e;
}

@media only screen and (min-width: 979px) {
    /*Base Styles*/
    
    .mobile {
	display: none;
    }
    
    .desk {
	display: block;
    }

    h1 {
	font-family: "Taviraj", serif;
	font-size: 8vh;
	color: #e2a66e;
    }

    h2 {
	font-family: "Taviraj", serif;
	font-size: 4vh;
	color: #000;
    }

    h3 {
	font-family: "Taviraj", serif;
	font-size: 2vh;
 	color: #e2a66e;
    }
    
    h4 {
	font-family: "Taviraj", serif;
	font-size: 1vh;
    	color: #2c2c2c;
 }

    /* Desktop Grid */

    #index-cont {
	display: grid;
	grid-template-areas:  "hd hd"
	"nv pt"
	"ft ft";
	grid-template-rows: 15vh 75vh 10vh;
	grid-template-columns: 10vw 90vw;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }

    #index-menu {
	font-size: 2vh;
	color: #e2a66e;
	background-color: #000;
	display: grid;
	grid-template-areas: "hbtn"
	"pbtn"
	"."
	"sbtn";
	grid-template-rows: repeat(4,15vh);
	grid-template-columns: auto;
	grid-area: nv;
	align-self: stretch;
	align-content: stretch;
	justify-content: stretch;

    }

    .item {
	font-size: 2vh;
	border: 0 solid #000;
	color: #e2a66e;
	background-color: #000;
	text-shadow: 2px 2px 2px #e2a66e;
    }

    #home {
	grid-area: hbtn;
    }

    #posts {
	grid-area: pbtn;
    }

    #subscribe {
	grid-area: sbtn;
    }

    /* Post Summary Grid */
    #sums {
	grid-area: pt;
	display: grid;
	grid-template-areas: "p1 p2 p3 p4 p5 p6";
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-content: stretch;
	justify-content: stretch;
	align-items: stretch;
	justify-items: stretch;
    }

    .odd, .even {
    box-shadow: -2px 0 2px  #b2ebf2 inset;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    opacity: 0.5;
    color: #000;
}
