@import url("posts_mobile.css") screen and (max-width: 979px);
@import url("posts_desk.css") screen and (min-width: 980px);

/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#index-title {
    grid-area: hd;
    background-color: #000;
    color: #e2a66e;
}

q {
    padding-left: 1vw;
    padding-bottom: 2vh;
    quotes: "\201C" "\201D";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}


#sub-form {
    display: none;
    position: fixed;
    height: 60vh;
    width: 60vw;
    background-color: #000;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    opacity: 1;
}

a:link {
    background-color: #000;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px #000;
}

a:visited {
    background-color: #000;
    text-decoration: none;
    color: #e2a66e;
    text-shadow: 2px 2px 2px #000;
}

a:hover {
    border-color: #e2a66e;
    text-decoration: none;
    color: #000;
    text-shadow: 0px 0px 2px #e2a66e;
}

a:active {
    text-decoration: none;
    color: #000;
    text-shadow: 0px 0px 2px #000;
    border: .5px dashed #2c2c2c;
}

.post-hd {
    padding-left: 1vw;
    background-color: #4a148c;
    color: #b2ebf2;
}

.post-sub {
    padding-left: 1vw;
    background-color: #7c43bd;
    color: #b2ebf2;
}


#top {
    position: fixed;
    color:  color: #e2a66e;
    height: 10vh;
    width: 10vw;
    top: 90vh;
    left: 0vw;
    text-align: center;
    padding: 5px;
    border-radius: 25%;
}

.card-item {
    font-size: 1em;
}

#card-cont {
    position: fixed;
    width: 60vw;
    height: 21vh;
    left: 35vw;
    top: 75vh;
    border: 1px solid #000;
    border-shadow: 1px 1px 3px #e2a66e; 
    background-color: #000;
}

#card {
    display: grid;
    grid-template-areas: "pic nm nm nm nm"
			     "pic bio bio bio bio"
			     "fig fb gh wb em";
    grid-template-rows: 4vh 12vh 4vh;
    grid-template-columns: minmax(10vw,100px) repeat(4, 1fr);
    justify-content: stretch;
}

figcaption {
    grid-area: fig;
    color: #e2a66e;
}

#crb-pic {
    grid-area: pic;
    width: auto;
    height: 16vh;
    align-self: stretch;
    justify-self: stretch;
}

#at-nm {
    color: #e2a66e;
    grid-area: nm;
    font-size: 2vh;
}

#at-bio, #at-bio-mob {
    color: #e2a66e;
    grid-area: bio;
    font-size: 1.5vh;
}

#fb {
    grid-area: fb;
    justify-self: center;
}

#gh {
    grid-area: gh;
    justify-self: center;
}

#wb {
    grid-area: wb;
    justify-self: center;
}

#em {
    grid-area: em;
    justify-self: center;
}


#sums {
    grid-area: pt;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
}

/* Subscribe Form */

#sub-form {
    display: none;
    position: fixed;
    height: auto;
    width: 60vw;
    background-color: #000;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    padding: 2vw;
    opacity: 1;
}

#subscribe:hover+#sub-form, #sub-form:hover {
    display: block;
}
